
<div class="loader" *ngIf="showSpinner | async">
</div>
<p-card *ngIf="!(showSpinner | async)">
  <h1>Tạo đợt điều chuyển</h1>
  <form [formGroup]="formTransfer" n>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputname">Tên đợt chuyển</label>
        <input type="text" formControlName="name" class="form-control" id="inputname">
        <div class="text-danger pt-1" *ngIf="formTransfer.controls.name.errors
                                   && formTransfer.controls.name.touched || submited">
          <div *ngIf="formTransfer.controls.name.errors?.required">Không được để trống</div>
          <div *ngIf="!formTransfer.controls.name.errors?.required
                                 && formTransfer.controls.name.errors?.pattern ">
            Tên điều chuyển không quá 200 ký tự
          </div>
        </div>

      </div>
      <div *ngIf="units" class="form-group col-md-6">
        <label>Đơn vị mới</label>
        <select id="gender" class="form-control" formControlName="unitNew">
          <option *ngFor="let unit of units;" [selected]="unitNew == value"
                  [ngClass]="{'displayNone': transfer.unitOld.id == unit.id}"
                  [value]="unit.id" >{{unit.name}}</option>
        </select>
        <div *ngIf="submited">
          <div class="text-danger pt-1" *ngIf="formTransfer.controls.unitNew.errors?.required">
            Không được để trống
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Lý do chuyển</label>
      <textarea formControlName="reason" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      <div class="text-danger pt-1" *ngIf="formTransfer.controls.reason.errors
                                   && formTransfer.controls.reason.touched || submited">
        <div *ngIf="formTransfer.controls.reason.errors?.required">Không được để trống</div>
        <div *ngIf="!formTransfer.controls.reason.errors?.required
                                 && formTransfer.controls.reason.errors?.pattern ">
          Lý do không quá 200 ký tự
        </div>
      </div>
    </div>
    <div>
      <button (click)="open(content)" type="button" class="btn btn-primary">Save</button>
    </div>
  </form>
  <!--  class="btn btn-success"-->
  <div class="table-responsive pt-3">
    <h2>Thông tin nhân viên</h2>
    <table class="table text-center table-infoUser">
      <thead>
      <tr>
        <th>Tên nhân viên</th>
        <th scope="col">Đơn vị</th>
        <th scope="col">Ngày sinh</th>
        <th scope="col">Email</th>
        <th scope="col">Chức vụ</th>
        <th scope="col">Lương</th>
        <th scope="col">SDT</th>
        <th scope="col">Giới tính</th>
        <th scope="col">Địa chỉ</th>
      </tr>
      </thead>
      <tbody *ngIf="transfer" class="text-center">
      <tr *ngIf="transfer.transferUser">
        <td>{{transfer.transferUser.name}}</td>
        <td>{{transfer.transferUser.unit.name}}</td>
        <td>{{transfer.transferUser.birthDay | date: 'dd/MM/yyyy'}}</td>
        <td>{{transfer.transferUser.email}}</td>
        <td>{{transfer.transferUser.position}}</td>
        <td>{{transfer.transferUser.salary}}</td>
        <td>{{transfer.transferUser.phoneNumber}}</td>
        <td>{{transfer.transferUser.gender}}</td>
        <td>{{transfer.transferUser.homeTown}}</td>
      </tr>
      </tbody>
    </table>
  </div>


  <!--              Modal                 -->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
    </div>
    <div class="modal-body">
      <p>Xác nhận thay đổi!</p>
    </div>
    <div class="modal-footer">
      <div (click)="submit()">
        <button type="button" class="btn btn-success" (click)="c('Save click')">Save</button>
      </div>
      <button type="button" class="btn btn-danger" (click)="d('Cross click')">Cancel</button>
    </div>
  </ng-template>
  <!--      end Modal                 -->
</p-card>






