<h1>Thông tin cá nhân</h1>

<p-card>

  <div  class="image-upload ">
    <label for="file-input">
    <img *ngIf="user && avataName"   [src]="urlAvaTa + avataName" alt="Avatar"
         style="width:200px; border-radius: 50%;  margin: 0 auto; margin-bottom: 20px;">
      <img *ngIf="!avataName"   src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar"
           style="width:200px; border-radius: 50%;  margin: 0 auto; margin-bottom: 20px;">
    </label>
    <input (change)="onChange($event)" id="file-input" type="file" />
  </div>


  <form [formGroup]="formProfile"  >

    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="row">
          <label class="label col-3 col-form-label ">Họ và Tên</label>
          <div class="col-9">
            <input type="text"  class="form-control" formControlName="fullName">

            <div class="text-danger pt-1"  *ngIf="formProfile.controls.fullName.errors
                                   && formProfile.controls.fullName.touched || submited">
              <div *ngIf="formProfile.controls.fullName.errors?.required">Không được để trống</div>
              <div *ngIf="!formProfile.controls.fullName.errors?.required
                                 && formProfile.controls.fullName.errors?.pattern ">
                Tên không chứa số và ký tự đặc biệt không quá 30 ký tự</div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group col-md-6">
        <div class="row">
          <label class="label col-3 col-form-label">Giới tính</label>
          <div class="col-9 col-sm-9">
            <!--                        <input type="text" pInputText class="form-control" formControlName="gender">-->
            <select id="gender"  class="form-control" formControlName="gender">
              <option   [selected]="gender === value" value="Nam"  >Nam</option>
              <option   [selected]="gender === value" value="Nữ"  >Nữ</option>
              <option   [selected]="gender === value" value="Khác"  >Khác</option>
            </select>
          </div>
        </div>

      </div>

      <div class="form-group col-md-6">
        <div class="row">
          <label class="label col-3 col-form-label">Email</label>
          <div class="col-9">
            <input type="text" class="form-control" formControlName="email">


            <div class="text-danger pt-1"  *ngIf="formProfile.controls.email.errors
                                   && formProfile.controls.email.touched || submited">
              <div *ngIf="formProfile.controls.email.errors?.required">Không được để trống</div>
              <div *ngIf="!formProfile.controls.email.errors?.required
                                 && formProfile.controls.email.errors?.email ">email không đúng</div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group col-md-6">
        <div class="row">
          <label class="label col-3 col-form-label">Đơn vị</label>
          <div class="col-9">
            <input readonly type="text" pInputText class="form-control" formControlName="unit">
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <div class="row">
          <label class="label col-3 col-form-label">Lương</label>
          <div class="col-9">
            <input readonly type="text" pInputText class="form-control" formControlName="salary">
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <div class="row">
          <label class="label col-3 col-form-label">cccd/cmt</label>
          <div class="col-9">
            <input type="text"   class="form-control" formControlName="cccd">

            <div class="text-danger pt-1"  *ngIf="formProfile.controls.cccd.errors
                                   && formProfile.controls.cccd.touched || submited">
              <div *ngIf="formProfile.controls.cccd.errors?.required">Không được để trống</div>
              <div *ngIf="!formProfile.controls.cccd.errors?.required
                                 && formProfile.controls.cccd.errors?.pattern ">Cccd không đúng</div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group col-md-6">
        <div class="row">
          <label class="label col-3 col-form-label">Số điện thoại</label>
          <div class="col-9">
            <input type="text"  class="form-control" formControlName="phoneNumber">

            <div class="text-danger pt-1"  *ngIf="formProfile.controls.phoneNumber.errors
                                   && formProfile.controls.phoneNumber.touched || submited">
              <div *ngIf="formProfile.controls.phoneNumber.errors?.required">Không được để trống</div>
              <div *ngIf="!formProfile.controls.phoneNumber.errors?.required
                                 && formProfile.controls.phoneNumber.errors?.pattern ">Số điện thoại khống đúng </div>
            </div>
          </div>
        </div>

      </div>
      <div class="form-group col-md-6">
        <div class="row">
          <label class="label col-3 col-form-label">Ngày sinh</label>
          <div class="col-9">
            <input type="date"  class="form-control" formControlName="birthDay">
            <div class="text-danger pt-1"  *ngIf="formProfile.controls.birthDay.errors
                                   && formProfile.controls.birthDay.touched || submited">
              <div *ngIf="formProfile.controls.birthDay.errors?.required">Mật khẩu không được để trống</div>
              <div *ngIf="formProfile.controls.birthDay.errors?.valadateDateNotOk">Tuổi lớn hơn 1 nhỏ hơn 90</div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group col-md-6">
        <div class="row">
          <label class="label  col-3 col-form-label">Quê quán</label>
          <div class="col-9">
            <input type="text"  class="form-control" formControlName="homeTown">

            <div class="text-danger pt-1"  *ngIf="formProfile.controls.homeTown.errors
                                   && formProfile.controls.homeTown.touched || submited">
              <div *ngIf="formProfile.controls.homeTown.errors?.required">Không được để trống</div>
              <div *ngIf="formProfile.controls.homeTown.errors?.maxlength">Quê quán nhập không quá 250 ký tự</div>
            </div>
          </div>
        </div>

      </div>
      <div class="form-group col-md-6">
        <div class="row">
          <label class="label col-3 col-form-label">Chức vụ</label>
          <div class="col-9">
            <input readonly type="text" pInputText class="form-control" formControlName="position">
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-6 py-3">
      <button class="px-4 pr-4 btn btn-primary" (click)="open(content)"  style="float: right;">Save</button>
    </div>
  </form>
<!--              Modal                 -->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
    </div>
    <div class="modal-body">
      <p>Xác nhận thay đổi!</p>
    </div>
    <div class="modal-footer">
      <div (click)="submit()">
          <button type="button" class="btn btn-success" (click)="c('Save click')">Save</button>
      </div>
      <button type="button" class="btn btn-danger" (click)="d('Cross click')">Cancel</button>
    </div>
  </ng-template>
  <!--      end Modal                 -->
</p-card>




