<div  *ngIf="showSpinner | async">
  <div class="loader" >
    <div class="loader-inner">
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
    </div>
  </div>
</div>
<p-card >
  <h1>Đổi mật khẩu</h1>
  <form [formGroup]="formPassword" >
    <div class="row">

      <div class="form-group col-md-6">
        <div class="row">
          <label class="label  col-sm-3 col-form-label">Mật Khẩu</label>
          <div class="col-sm-9">
            <input type="password"  class="form-control" formControlName="password">

          <div class="text-danger pt-1"  *ngIf="formPassword.controls.password.errors
                                   && formPassword.controls.password.touched ">
            <div *ngIf="formPassword.controls.password.errors?.required">Mật khẩu không được để trống</div>
            <div *ngIf="formPassword.controls.password.errors?.pattern">Mật khẩu từ 8 tới 16 ký tự gồm chữ in hoa,viết thường,số và ký tự đặc biệt</div>
          </div>
        </div>
        </div>

      </div>
      <div class="form-group col-md-6">
        <div class="row">
          <label class="label col-sm-3 col-form-label">Nhập lại mật khẩu</label>
          <div class="col-sm-9">
            <input type="password"   class="form-control" formControlName="RePassword">

          <div class="text-danger pt-1"  *ngIf="formPassword.controls.RePassword.errors
                                   && formPassword.controls.RePassword.touched " >
            <div *ngIf="formPassword.controls.RePassword.errors?.required">Nhập lại mật khẩu không được để trống</div>
          </div>
            <div class="text-danger pt-1"  *ngIf=" formPassword.errors && !formPassword.controls.RePassword.errors
                                    ">
              <div *ngIf="formPassword.errors ">Không trùng với mật khẩu xin nhập lại</div>
            </div>
        </div>

        </div>
      </div>
      </div>
    <div class=" col-md-12 mb-5">
      <button (click)="open(content)" [disabled]="!formPassword.valid" class="btn btn-primary px-4" style="float: right;">Thay đổi</button>
    </div>
  </form>

  <!--              Modal                 -->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
    </div>
    <div class="modal-body">
      <p>Xác nhận thay đổi!</p>
    </div>
    <div class="modal-footer">
      <div (click)="onSubmit()">
        <button type="button" class="btn btn-success" (click)="c('Save click')">Save</button>
      </div>
      <button type="button" class="btn btn-danger" (click)="d('Cross click')">Cancel</button>
    </div>
  </ng-template>
  <!--              Modal                 -->
  </p-card>

