
<p-card >

  <h2>Danh sách đợt chuyển</h2>
  <!--  ----formSearch----    -->
  <form  [formGroup]="formSearch">
    <div class="form-row">

          <div class="form-group col-12 col-sm-6">
            <div class="row">
            <label class="col-4" for="inputname">Tên đợt chuyển</label>
            <input   type="text" formControlName="name" class="form-control col-7"
                   id="inputname"></div>
          </div>
          <div class="form-group col-12 col-sm-6">
            <div class="row">
            <label class="col-4" for="reason">Lý do chuyển</label>
            <input  type="text" formControlName="reason" id="reason" class="form-control col-7">
          </div>
          </div>
          <div class="form-group col-12 col-sm-6">
            <div class="row">
            <label class="col-4" for="transferUserName">Tên nhân viên</label>
            <input id="transferUserName" type="text" formControlName="transferUserName" class="form-control col-7">
          </div>
          </div>
          <div class="form-group col-12 col-sm-6">
            <div class="row">
            <label class="col-4">Ngày chuyển</label>
            <input type="date" class="form-control col-7" formControlName="succeeDay">
          </div>
        </div>

      <div *ngIf="units" class="form-group col-12 col-sm-6">
        <div class="row">
          <label class="col-4">Đơn vị cũ</label>
          <select id="unitOld" class="form-control col-7" formControlName="unitOld">
            <option *ngFor="let unit of units;" [value]="unit.id">{{unit.name}}</option>
          </select>
        </div>
      </div>

      <div *ngIf="units" class="form-group col-12 col-sm-6">
        <div class="row">
          <label class="col-4">Đơn vị mới</label>
          <select id="unitNew" class="form-control col-7" formControlName="unitNew">
            <option *ngFor="let unit of units;" [value]="unit.id">{{unit.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row col-12 justify-content-end">
    <button  type="button" (click)="onSubmit()" class="btn btn-primary ">Tìm kiếm</button>
    </div>
  </form>
  <!--      end form formSearch     -->

  <div class="table-responsive pt-3 table-infoUser-div">
    <table class="text-center table  table-infoUser table-hover">
      <thead>
      <tr>
        <th (click)="sortByValue('name')">Tên đợt chuyển <i
          *ngIf="nameArrow"

          class="fa fa-thin fa-arrow-up icon-color" ></i>
                           <i *ngIf="!nameArrow" class="fa icon-color fa-thin fa-arrow-down"></i></th>



        <th (click)="sortByValue('transferUser')" scope="col">Tên nhân viên <i *ngIf="transferUserArrow" class="fa fa-thin fa-arrow-up icon-color" ></i>
                                      <i *ngIf="!transferUserArrow" class="fa icon-color fa-thin fa-arrow-down"></i></th>

        <th (click)="sortByValue('unitOld.name')" scope="col">Đơn vị ban đầu <i *ngIf="unitOldArrow" class="fa fa-thin fa-arrow-up icon-color" ></i>
                                       <i *ngIf="!unitOldArrow" class="fa icon-color fa-thin fa-arrow-down"></i></th>

        <th (click)="sortByValue('unitNew.name')" scope="col">Đơn vị mới <i *ngIf="unitNewArrow" class="fa fa-thin fa-arrow-up icon-color" ></i>
                                   <i *ngIf="!unitNewArrow" class="fa icon-color fa-thin fa-arrow-down"></i></th>

        <th (click)="sortByValue('succeeDay')" scope="col">Ngày chuyển <i *ngIf="succeeDayArrow" class="fa fa-thin fa-arrow-up icon-color" ></i>
                                    <i *ngIf="!succeeDayArrow" class="fa icon-color fa-thin fa-arrow-down"></i></th>

        <th (click)="sortByValue('statusTransfer')" scope="col">Trạng thái <i *ngIf="statusTransferArrow"  class="fa fa-thin fa-arrow-up icon-color" ></i>
                                   <i *ngIf="!statusTransferArrow"  class="fa icon-color fa-thin fa-arrow-down"></i></th>

        <th (click)="sortByValue('reason')" scope="col">Lý do <i *ngIf="reasonArrow" class="fa fa-thin fa-arrow-up icon-color" ></i>
                              <i *ngIf="!reasonArrow" class="fa icon-color fa-thin fa-arrow-down"></i></th>
      </tr>
      </thead>
      <tbody *ngIf="transferList" class="text-center">
      <tr *ngFor="let transfer of transferList" (click)="infotransfer(transfer.id)">
        <td>{{transfer.name}}</td>
        <td>{{transfer.transferUser.name}}</td>
        <td>{{transfer.unitOld.name}}</td>
        <td>{{transfer.unitNew.name}}</td>
        <td *ngIf="transfer.succeeDay">{{transfer.succeeDay | date: 'dd/MM/yyyy'}}</td>
        <td *ngIf="!transfer.succeeDay">Chưa có</td>
        <td *ngIf="transfer.statusTransfer.name === 'new'">Chờ xét duyệt</td>
        <td *ngIf="transfer.statusTransfer.name === 'checked'">Đang xét duyệt</td>
        <td *ngIf="transfer.statusTransfer.name === 'refuse'">Bị từ chối</td>
        <td *ngIf="transfer.statusTransfer.name === 'cancel'">Đã hủy</td>
        <td *ngIf="transfer.statusTransfer.name === 'success'">Đã duyệt</td>
        <td>{{transfer.reason}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--              Pagination                -->
  <nav class="pt-3" aria-label="...">
    <ul class="pagination justify-content-end">
      <select #selectSize (change)="pageItem(selectSize.value)"   class="page-items mr-1" >
        <option selected >5</option>
        <option >10</option>
        <option >15</option>
      </select>
      <li class="page-item " [ngClass]="indexPage == 0?'disabled':''">
        <a class="page-link" (click)="preNextPage('pre')">Previous</a>
      </li>

      <li *ngFor="let pageNumber of [].constructor(Page['totalPages']);let i = index"
          class="page-item" [ngClass]="indexPage == i?'active':''">
        <a class="page-link" (click)="pagination(i)">{{i + 1}}</a>
      </li>

      <li class="page-item" [ngClass]="(Page['totalPages'] - 1) == indexPage?'disabled':''">
        <a class="page-link" (click)="preNextPage('next')">Next</a>
      </li>
    </ul>
  </nav>
  <!--              end               -->
</p-card>
